RewriteEngine On
RewriteRule ^views/(dashboard|users|projects|tasks)\.php$ index.php?url=$1 [L,QSA,NC]
RewriteRule ^(dashboard|users|projects|tasks|login|logout)\.php$ index.php?url=$1 [L,QSA,NC]
RewriteRule ^api/(.*)$ index.php?url=api/$1 [L,QSA,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
